# {{ name_prefix}} - PVC Base Deployment

> A CDP Private Cloud Base cluster running on AWS IaaS.

* **Prefix:** {{ name_prefix }}
* **Realm:** {{ realm }}
* **SSH:** {{ lookup('ansible.builtin.env', 'SSH_PUBLIC_KEY_FILE') | basename }}

## SSL Certificate Installation

Any SSL-enabled endpoint within the cluster will produce a SSL warning for the
self-signed certificate issued by the deployment's local FreeIPA server.  If you
wish to avoid this warning, install the CA certificate, `{{ groups['freeipa'] | first }}.ca.crt`,
for your browser and/or system.

## Endpoints

* [Cloudera Manager](https://{{ groups['cloudera_manager'] | first }}:7183)
* [FreeIPA](https://{{ groups['freeipa'] | first }})

## Hosts

|Host|FQDN|Groups|
|---|---|---|
{% for host in groups['all'] | sort | map('extract', hostvars) | list %}
| {{ host['inventory_hostname_short'] }} | {{ host['inventory_hostname'] }} | {{ host['group_names'] | join(', ') }}
{% endfor %}
